.lead {
  margin-top: 80px;

  .lead__inner {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .lead__form-wrapper {
    // optional spacing/layout
  }

  .lead__highlights {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
  }
}
